# --- Dependências / builds ---
/node_modules/
/vendor/
/public/build/
/public/hot
/public/storage
/resources/views/app/contabilidade/.DS_Store
/resources/views/app/.DS_Store
# --- Ambiente / segredos ---
.env
.env.*
!.env.example
.env.backup
.env.production
/storage/*.key
auth.json

# --- Cache / testes / ferramentas ---
/.phpunit.cache/
/.phpunit.result.cache
.phpunit.result.cache
/.phpactor.json

# --- Homestead ---
Homestead.json
Homestead.yaml

# --- Logs de gerenciadores ---
npm-debug.log
yarn-error.log

# --- IDEs ---
/.fleet/
/.idea/
/.vscode/

# 2) Ignorar tudo dentro de /storage
/storage/*
!/storage/logs/
!/storage/logs/laravel.log


